{% extends "base.html" %}

{% block content %}
    <div class="container max-w-full mx-auto md:py-24 px-6">
        <div class="max-w-sm mx-auto px-6 pb-8 bg-slate-200 shadow-slate-500 shadow-md shad">
            <div class="relative flex flex-wrap">
                <div class="w-full relative">
                    <div class="md:mt-6">
                        <div class="text-center font-semibold text-black">
                            Sign In
                        </div>
                        <form class="mt-6" action="" method="post" novalidate>
                            {{ form.hidden_tag() }}
                            <div class="mx-auto max-w-lg ">
                                <div class="py-1">
                                    <span class="px-1 text-sm text-gray-600">{{ form.username.label }}</span>
                                    {{ form.username(class_="text-mdblock px-3 py-2 rounded-lg w-full bg-white border-2 border-gray-300 placeholder-gray-600 shadow-md focus:placeholder-gray-500 focus:bg-white focus:border-gray-600 focus:outline-none", size=32) }}
                                    {% for error in form.username.errors %}
                                    <span class="text-red-500">[{{ error }}]</span>
                                    {% endfor %}
                                </div> 
                                <div class="py-1">
                                    <span class="px-1 text-sm text-gray-600"> {{ form.password.label }}</span>
                                    {{ form.password(class_="text-mdblock px-3 py-2 rounded-lg w-full bg-white border-2 border-gray-300 placeholder-gray-600 shadow-md focus:placeholder-gray-500 focus:bg-white focus:border-gray-600 focus:outline-none", size=32) }}
                                    {% for error in form.password.errors %}
                                    <span class="text-red-500">[{{ error }}]</span>
                                    {% endfor %}
                                </div>
                                
                                
                                <div class="flex justify-start">
                                    <label class="text-gray-500 font-bold my-4 items-center">                                        
                                        {{ form.remember_me(class_="leading-loose top-0") }}
                                        <span class="ml-2 text-sm py-2 text-gray-600 text-left">
                                            {{ form.remember_me.label }}                                              
                                        </span>
                                    </label>
                                </div>
                                
                                {{ form.submit(class_="cursor-pointer mt-3 text-lg font-semibold bg-gray-800 w-full text-white rounded-lg px-6 py-3 block shadow-xl hover:text-white hover:bg-black") }}

                            </div>
                        </form>
                    </div>

                </div>
                
            </div>
            
        </div>
    </div>
    
{% endblock %}